################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution.Test/.vs/Solution.Test/v16/Server/sqlite3
